{
  "adminInterface": ":4985",
  "interface": ":4984",
  "log": ["HTTP+"],
  "CORS": {
    "Origin": ["http://localhost", "http://localhost:8080", "http://127.0.0.1:8080"],
    "LoginOrigin": ["http://localhost", "http://localhost:8080", "http://127.0.0.1:8080"],
    "Headers": ["Cookie", "Accept", "Origin", "Referer", "Host", "Connection", "DNT", "X-Mx-ReqToken", "Keep-Alive", "User-Agent", "X-Requested-With", "If-Modified-Since", "Cache-Control", "Content-Type"],
    "MaxAge": 1728000
  },
  "databases": {
    "cms": {
      "server": "carbon:.",
      "users": {
        "GUEST": {
          "disabled": false,
          "admin_channels": ["*"]
        }
      }
    }
  }
}
